.Icon{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.loginbody{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.card{
    border: 1px solid black;
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}
.signtext{
    margin-left: 30px;
    margin-top: 30px;
}
.entertext{
    margin-left: 30px;
    font-weight: bold;
}
.email{
    margin-left: 30px;
    width: 280px;
    height: 30px;
    border-radius: 20px;
}   
.passwordtext{
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.submitbutton{
    margin-left: 30px;
    background-color: rgb(240, 142, 5);
    width: 290px;
    height: 30px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    border: none;
}
.submitbutton:hover{
    z-index: 1;
    cursor: pointer;
    background-color: #eab308;
} 